
    <meta charset="UTF-8">

<ul class="menu">
        <div class="menu-item">
            <a href="{% url 'main' %}"
               class="{% if request.resolver_match.url_name == 'main' %}
                        active
                      {% endif %}">
                Главная
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'products' %}"
               class="{% if request.resolver_match.url.namespace == 'products' %}
                        active
                      {% endif %}">
                Продукты
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'contact' %}"
               class="{% if request.resolver_match.url_name == 'contact' %}
                        active
                      {% endif %}">
                Контакты
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'basketapp:read' %}"
               class="{% if request.resolver_match.namespace == 'basketapp' %}
                        active
         <span>
        {% if basket %} {{ basket|length }} {% endif %}
        </span>

                      {% endif %}">
                Корзина
            </a>
        </div>
    <a href="{% url 'basket:view' %}" class="basket">

</a>
</ul>

